@import url(./reset.css);
@import url(./homePage.css);
@import url(./navbar.css);
@import url(./color.css);
@import url(./badge.css);
@import url(./typography.css);
@import url(./utility.css);
@import url(./productPage.css);
@import url(./cartPage.css);
@import url(./loginPage.css);
@import url(./wishlist.css);
